<div class="max-w-2xl mx-auto p-8 bg-white rounded-xl shadow-lg">
  <!-- Campo para o usuário digitar o Tópico -->
  <div class="mb-6 flex items-center"
    [ngClass]="{'border-red-500': !isTopicValid(), 'border-gray-300': isTopicValid()}">
    <label for="topic" class="block text-lg font-semibold text-gray-800 mr-4">Tópico</label>
    <input id="topic" type="text" [(ngModel)]="topic" placeholder="Digite o tópico"
      class="flex-grow px-5 py-3 text-lg border rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-500 focus:border-blue-500 transition ease-in-out duration-300" />
  </div>

  <!-- Botão para envio de notas -->
  <button (click)="generateNotes()" [disabled]="loading || !isTopicValid()"
    class="w-full py-3 px-5 bg-blue-500 text-white rounded-lg font-semibold text-lg hover:bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-400 disabled:bg-gray-300 disabled:opacity-50 transition ease-in-out duration-300 loading-button">
    {{ loading ? 'Carregando...' : 'Gerar Notas' }}
  </button>

  <!-- Mensagem de erro -->
  <div *ngIf="errorMessage" class="mt-4 text-red-500 text-center text-lg" [@fadeIn]>
    <i class="fas fa-exclamation-circle"></i> {{ errorMessage }}
  </div>

  <!-- Se carregando -->
  <div *ngIf="loading" class="mt-4 text-center text-gray-500 text-lg" [@fadeIn]>
    <!-- Spinner de Carregamento -->
    <div class="spinner mx-auto mb-2"></div>
    <div>Carregando...</div>
  </div>

  <!-- Exibir tópicos retornados pelo backend com animação -->
  <div *ngIf="studyNotes.length > 0" class="mt-8">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Tópicos Gerados:</h2>
    <div class="bg-gray-100 p-4 rounded-lg shadow-inner">
      <ul class="pl-6 space-y-4">
        <li *ngFor="let note of studyNotes" class="text-gray-700 text-lg note" [@fadeIn]>
          {{ note }}
        </li>
      </ul>
    </div>
    <!-- Botões para gerar PDF e limpar -->
    <div class="flex justify-end mt-4 space-x-4">
      <button (click)="generatePDF()"
        class="py-2 px-4 bg-green-500 text-white rounded-lg font-semibold text-lg hover:bg-green-600 focus:outline-none focus:ring-4 focus:ring-green-400 transition ease-in-out duration-300">
        Gerar PDF
      </button>
      <button (click)="clearTopic()"
        class="py-2 px-4 bg-red-500 text-white rounded-lg font-semibold text-lg hover:bg-red-600 focus:outline-none focus:ring-4 focus:ring-red-400 transition ease-in-out duration-300">
        Limpar
      </button>
    </div>
  </div>
</div>